/* All */
:root {
	--color-main: rgb(221, 82, 63);
	--color-sec: rgb(221, 168, 161);
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Source Serif Pro', serif;
}
html {
	scroll-behavior: smooth;
}
body{
	text-align: center;
}



/* Header */
header{
	position: fixed;
	z-index: 1000;
	top: 0;
	width:100%;
	background-color: var(--color-sec);
	box-shadow: 3px 3px 7px rgba(0,0,0,0.2);	
	padding: 15px 4%; 
}
header ul{
	display: flex; 
	list-style: none;
	justify-content: center;
}
header ul li a{
	color: black;
	text-decoration: none; 
	padding: 12px 15px;
}
header ul li a:hover{
	color: var(--color-main);
	border-bottom: 3px solid var(--color-main);
}


/* Home */
#home img{
	border-radius: 50%;
	border: 5px solid var(--color-sec);
	height: 300px;
	width: 300px;
	margin-top: 80px;
}
#home h1{
	font-size: 50px;
	font-weight: 400;
	padding: 5px;
}
#home_buttons{
	margin-top: 30px;
}
#home_buttons .bx-link{
	vertical-align: middle;
	font-size: 30px;
}
#home_buttons b{
	font-size: 18px;
	vertical-align: middle;
	padding-left: 7px;
}
#ig_button{
	text-decoration: none;
	color: black;
	padding-left: 20px;
}
#ig_button i{
	vertical-align: middle;
	color: black;
	font-size: 40px;
}
#ig_button:hover i, #ig_button:hover b{
	color: var(--color-sec);
}



/* Button */
button{
	background-color: var(--color-main);
	font-size: 15px; 
	outline: none;  
	border: none;
	border-radius: 30px;
	padding: 5px 30px;
}
button a{
	color: white;
	text-decoration: none;
}
button:hover{
	cursor: pointer;
  background-color: var(--color-sec);
}


/* About & pillar*/
#about, #pillar, #team{
  padding: 50px 0;
}
#about h3, #pillar h3, #project h3, #story h3{
  color: var(--color-main);
	border-bottom: 3px solid var(--color-main);
	font-size: 40px;
	width: 220px;
	margin: 10px auto;
}
#about-p{
	padding: 15px 18%;
}
#about-box{
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 70px;
	padding: 70px 15% 0;
}
#about-box p{
	margin: 5px 15px;
}
/* Pillars list*/
#pillar b{
	color: var(--color-main);
	font-size: 22px;
}
#pillar ul{
	text-align: left;
	list-style: none;
	margin-top: 10px;
}
#pillar li{
	padding: 18px 15% 0;
}


/* Project and Story section */
#project, #story{
	padding: 50px 15%;
}
#project-box, #story-box{
	padding: 50px 0;
	text-align: left;
	display: flex;
}
#project img, #story img{
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);	
	width: 250px;
	height: 250px;
}
#story img{
	border-radius: 50%;
}
#project-left, #story-left{
	text-align: center;
	width: 250px;
	/* background-color: pink; */
}
#project-right{
	padding: 5% 80px;
	width: 100%;
	/* background-color: lightgreen; */
}
#story-right{
	padding: 0 80px;
	display: flex;
	align-items: center;
  justify-content: center;
}


/* Pay Pal Button*/
/* #smart-button-container{
	width: 50vw;
	margin: auto;
} */
#paypalform{
	text-align: center;
}
#paypalbutton{
	width: 100%;
	max-width: 700px;
	padding: 10px 0;
	background-color: #ffc43a;
	color: #002d85;
	font-size: 20px; 
	font-weight: bold; 
	border: none;
	border-radius: 30px;
}
#paypalbutton:hover{
	cursor: pointer;
	color: white;
  background-color: var(--color-sec);
}
#paypal-subimages{
	padding-top: 8px;
	text-align: center;
	font-size: 45px; 
}
#paypal-subtext{
	text-align: center;
	font-size: 13px; 
	font-style: italic;
}
.bxl-paypal{
	color: #002d85;
	font-size: 20px; 
	position: relative;
	top: 5px;
}

/* Team Section */
#team h3{
	color: var(--color-main);
	border-bottom: 3px solid var(--color-main);
	font-size: 40px;
	width: 320px;
	margin: 10px auto;
}
#team-box{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 50px 30px;
	padding: 20px 11%;
}
#project h1, #box h1{
	padding-top: 10px;
}
/* Team image overlays */
#container{
	position: relative;
	width: 220px;
	height: 280px;
	margin: 0 auto;
}
#overlay{
	position: absolute;
	top: 0;
	height: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: var(--color-sec);
	overflow: hidden;
	overflow-y: auto;
}
#container:hover #overlay{
	opacity: 1;
	cursor: pointer;
}
#overlay p{
	color: white;
	text-align: left;
	padding: 35px 15px;
	justify-content: center;
}
#team img{
	object-fit: cover;
	width: 220px;
	height: 280px;
}


/* Community Safety  */
#safety h3{
	color: var(--color-main);
	border-bottom: 3px solid var(--color-main);
	font-size: 40px;
	width: 360px;
	margin: 10px auto;
}
#safety p{
	padding: 15px 18%;
}
#safety a{
	color: var(--color-main);
}
#safety a:hover{
	color: var(--color-sec);
}

/* footer section*/
footer{
	background: black;
	text-align: center;
	margin-top: 50px;
	padding: 15px;
}
footer a, footer p{
	color: white;
	text-decoration: none;
}
.footer-links{
	padding: 10px;
}
.footer-links a{
	font-size: 30px;
	padding: 15px;
}
footer a:hover{
	color: var(--color-main);
}
#designed-by::after{
	content: "© 2021 VCL All Rights Reserved";
}
#designed-by:hover::after{
	content: "Designed with 🧡 by Jeff Wang";
}

/* Thin Scrollbar Effects */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: darkgrey;
} 
::-webkit-scrollbar-thumb:hover {
	background: grey;
}


/* Viewport Sizing for TV, PC, Tablet and Mobile Devices */
@media only screen and (max-width : 1260px){
	#team-box{
		grid-template-columns: 1fr 1fr;
		padding: 20px 10%;
	}
	#project-box{
		display: block;
	}
	#project-left, #story-left{
		width: auto;
	}
	#project-right{
		padding: 30px 0 0;
	}
}

@media only screen and (max-width : 900px){
	#about-box{
		grid-template-columns: 1fr;
	}
	#story-box{
		display: block;
	}
	#story-right{
		padding: 30px 0 0;
	}
}

@media only screen and (max-width : 600px){
	#team-box{
		grid-template-columns: 1fr;
	}
	#about-p, #safety p{
		text-align: left;
	}
}

@media only screen and (max-width : 400px){
	header ul li a{
		padding: 12px 10px;
	}
	#about-p, #safety p{
		padding: 15px 35px;
	}
	#about-box{
		padding: 70px 20px;
	}
	#pillar li{
		padding: 18px 30px;
	}
}

@media only screen and (max-width : 350px){
	#smart-button-container{
		margin: 0;
	}
}